bin/docker/*
docker/*.yml
docker/mongo-entrypoint/*.sh
!bin/docker/mongo-entrypoint
!bin/docker/[D|d]ocker*.template
cert/*
conf/*.conf
conf/*.json
!conf/*.sample
*.pyc
venv
docker/data/*
!docker/data/.gitkeep
logs/*
