[scripts]
    path = src/templates/isolation
    shutdown = shutdown.sh
    delflow = delflow.sh
    ifdown = ifdown.sh

[keys]
    default_username = ubuntu
    default_key = keys/default.pem

[commands]
    default_shutdown = sudo poweroff
