[general]
    host = {{general_host}}
    port = 8008
    default_om_datacenter = {{default_om_datacenter}}

[package]
    host = {{package_host}}
    port = 8443

[ro]
    host = {{ro_host}}
    port = 9090
