[general]
    host = {{general_host}}
    port = 8008
    default_kvm_datacenter = {{default_kvm_datacenter}}
    default_docker_datacenter = {{default_docker_datacenter}}
    default_kvm_datacenter_net = {{default_kvm_datacenter_net}}
    default_docker_datacenter_net = {{default_docker_datacenter_net}}

[package]
    host = {{package_host}}
    port = 8443

[ro]
    host = {{ro_host}}
    port = 9090

[nbi]
    protocol = https
    host = {{nbi_host}}
    port = 9999
    username = admin
    password = admin
    default_kvm_datacenter = {{default_kvm_datacenter}}
    default_docker_datacenter = {{default_docker_datacenter}}
    default_kvm_datacenter_net = {{default_kvm_datacenter_net}}
    default_docker_datacenter_net = {{default_docker_datacenter_net}}
    default_flavor = m1.small
