{
   "flow-node-inventory:table":[
      {
         "id":0,
         "flow":[
            {
               "id":"L2switch-0",
               "hard-timeout":0,
               "idle-timeout":0,
               "match":{

               },
               "cookie":3098476543630901000,
               "instructions":{
                  "instruction":[
                     {
                        "order":0,
                        "apply-actions":{
                           "action":[
                              {
                                 "order":0,
                                 "output-action":{
                                    "max-length":65535,
                                    "output-node-connector":"NORMAL"
                                 }
                              }
                           ]
                        }
                     }
                  ]
               },
               "priority":101,
               "opendaylight-flow-statistics:flow-statistics":{
                  "packet-count":747782,
                  "byte-count":0,
                  "duration":{
                     "nanosecond":297000000,
                     "second":499667
                  }
               },
               "table_id":0
            },
            {
               "id":"#UF$TABLE*0-1",
               "hard-timeout":0,
               "idle-timeout":0,
               "match":{

               },
               "cookie":3098476543630901248,
               "priority":0,
               "opendaylight-flow-statistics:flow-statistics":{
                  "packet-count":29627,
                  "byte-count":0,
                  "duration":{
                     "nanosecond":274000000,
                     "second":2002221
                  }
               },
               "table_id":0
            },
            {
               "id":"#UF$TABLE*0-2",
               "hard-timeout":0,
               "idle-timeout":0,
               "match":{
                  "ethernet-match":{
                     "ethernet-type":{
                        "type":35020
                     }
                  }
               },
               "cookie":3098476543630901248,
               "instructions":{
                  "instruction":[
                     {
                        "order":0,
                        "apply-actions":{
                           "action":[
                              {
                                 "order":0,
                                 "output-action":{
                                    "max-length":65535,
                                    "output-node-connector":"CONTROLLER"
                                 }
                              }
                           ]
                        }
                     }
                  ]
               },
               "priority":100,
               "opendaylight-flow-statistics:flow-statistics":{
                  "packet-count":0,
                  "byte-count":0,
                  "duration":{
                     "nanosecond":222000000,
                     "second":2002221
                  }
               },
               "table_id":0
            }
         ],
         "opendaylight-flow-table-statistics:flow-table-statistics":{
            "active-flows":3,
            "packets-looked-up":32357,
            "packets-matched":0
         }
      }
   ]
}
